@{
      ViewBag.Title = "Home Page";
}

<section class="container col-lg-12">

    <div class="table-responsive">
        <table class="table table-striped custom-grid">
            <thead>
                <tr>
                    <th>Client Name</th>
                    <th>No of Order Placed</th>                 
                </tr>
            </thead>
            <tbody>

                @foreach (var user in ViewBag.ClientOrder)
                {
                    <tr>
                        <td><strong>@user.ClientName</strong></td>
                        <td><strong>@user.TotalNoOfOrder</strong></td>
                     
                    </tr>
                }
            </tbody>

        </table>
    </div>

</section>